# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.tlog
/oop_labs/.vs/oop_labs/FileContentIndex/1d83beef-0cfa-4bb6-936b-015b675a8418.vsidx
*.vsidx
/oop_labs/.vs/oop_labs/v17/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.vcxproj
*.filters
*.user
*.recipe
*.ilk
*.log
*.pdb
/oop_labs/x64/Debug/oop_labs.vcxproj.FileListAbsolute.txt
/oop_labs/x64/Debug/vc143.idb
